* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:beige;
}
.navbarContrainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(21, 43, 60);
    color: aliceblue;
}

.logo {
    font-size: 30px;
    color: skyblue;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-around;
}

.menu-items a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-items a:hover {
    color: skyblue;
}

.dropdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#search {
    width: 250px;
    border: none;
    height: 28px;
    padding: 10px;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 20px;

}

.nav-right a {
    text-decoration: none;
    color: white;
}

.nav-right a:hover {
    color: skyblue;
}

.nav-right img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.firstContainer {
    padding: 40px;
    background-color: rgb(62, 160, 198);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.container-content h1 {
    margin-bottom: 10px;
    font-size: 35px;
}
.container-content p {
    margin-bottom: 15px;
    font-size: 25px;
}
.container-content button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: yellow;
}
/* 2nd Container */
.category{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.category .cat{
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px gray;
}

/*3rd Container */

.features{
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
}
.features aside:hover,.cat:hover{
    transform: scale(1.1);
}